<h1 title="Добавлено {{ course.userId }}">Редактирование курса {{ course.title }}</h1>

<form action="/courses/{{ course.id }}/edit" method="post">
    <div class="input-field">
        <input name="title" type="text" id="title" class="validate" required value="{{ course.title }}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название курса" data-success="right"></span>
    </div>

    <div class="input-field">
        <input name="price" type="number" id="price" class="validate" required min="1" value="{{ course.price }}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Добавте цену" data-success="right"></span>
    </div>

    <div class="input-field">
        <input name="img" type="text" id="img" value="{{ course.img }}" class="validate" required>
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите текст ссылки" data-success="right"></span>
    </div>

    <button class="btn btn-primary" type="submit">
        Сохранить
    </button>
</form>

<form action="/courses/{{course.id}}/delete" method="post" style="margin-top: 2rem" >
    <button class="bnt btn-small red" >Удалить курс</button>
</form>